/*1.顶部 */
.topbar{
    height: 28px;
    background-color: red;

}
/*2.导航  */
.nav{
    height: 500px;
    background-color: #ccc;

}
/*3.分类导航和banner */
.menu{
    height: 500px;
    background-color: #333;
}
/*4.今日推荐 */
.recommend{
    height: 500px;
    background-color: rgb(214, 195, 195);

}
/*5.电子书 */
.ebooks{
    height: 500px;
    background-color: rgb(197, 171, 171);

}
/*6.服装 */
.clothes{
    height: 500px;
    background-color: rgb(212, 194, 194);

}
/*7.户外运动 */
.sport{
    height: 500px;
    background-color: rgb(73, 68, 68);

}
    /*8.童装 */
.children-clothes{
    height: 500px;
    background-color: rgb(190, 140, 140);

}
/*9.家居日用 */
.daily{
    height: 500px;
    background-color: rgb(192, 130, 130);

}
/*10.推广商品 */
.promotion{
    height: 500px;
    background-color: rgb(245, 165, 165);

}
/*11.尾部 */
.footer{
    height: 500px;
    background-color: rgb(124, 81, 81);

}
